PIP_HOST=localhost
PIP_PORT=21002
PDP_HOST=localhost
PDP_PORT=21003
PMP_HOST=localhost
PMP_PORT=21001
MYPEP_HOST=localhost
MYPEP_PORT=9091
ANALYSIS_REPORT=/home/alex/git_repos/io-flow-analyzer/analysis-declassifier/report-test-declassifier.xml
INSTRUMENTED_CLASS_PATH=/home/alex/instrumented/
ENFORCEMENT=false
BLACKLIST=/home/alex/git_repos/uc4java/src/test/resources/blacklist.list
WHITELIST=/home/alex/git_repos/uc4java/src/test/resources/whitelist.list
INSTRUMENTATION=true
STATISTICS=/home/alex/statistic-jzip.txt
TIMER_T1=true
TIMER_T2=true
TIMER_T3=true
TIMER_T4=true
TIMER_T5=true
NETCOM=true
UC_PROPERTIES=
PDP_ASYNCOM=false
UC4WIN_AUTOSTART=
IFT=false