PIP_HOST=localhost
PIP_PORT=40011
PDP_HOST=localhost
PDP_PORT=9090
PMP_HOST=localhost
PMP_PORT=40012
MYPEP_HOST=localhost
MYPEP_PORT=9091
ANALYSIS_REPORT=/home/alex/io-flow-analyzer/report-demirbas.xml
INSTRUMENTED_CLASS_PATH=/home/alex/instrumented/
ENFORCEMENT=false
BLACKLIST=/home/alex/uc4java/src/test/resources/blacklist.list
WHITELIST=/home/alex/uc4java/src/test/resources/whitelist.list
INSTRUMENTATION=false
STATISTICS=/home/alex/statistic-jzip.txt
TIMER_T1=true
TIMER_T2=true
TIMER_T3=true
TIMER_T4=true
TIMER_T5=true
NETCOM=true
UC_PROPERTIES=
PDP_ASYNCOM=false
UC4WIN_AUTOSTART=