PIP_HOST=localhost
PIP_PORT=40011
PDP_HOST=localhost
PDP_PORT=9090
PMP_HOST=localhost
PMP_PORT=40012
MYPEP_HOST=localhost
MYPEP_PORT=9090
ANALYSIS_REPORT=/home/alex/git_repos/uc4java/src/test/resources/report-jftp.xml
INSTRUMENTED_CLASS_PATH=/home/alex/instrumented/
ENFORCEMENT=false
INSTRUMENTATION=true
STATISTICS=/home/alex/statistics-jftp.txt
BLACKLIST=/home/alex/git_repos/uc4java/src/test/resources/blacklist.list
TIMER_T1=true
TIMER_T2=true
TIMER_T3=true
TIMER_T4=true
TIMER_T5=true