PIP_HOST=192.168.4.154
PIP_PORT=40011
PDP_HOST=192.168.4.154
PDP_PORT=9090
PMP_HOST=192.168.4.154
PMP_PORT=40012
MYPEP_HOST=localhost
MYPEP_PORT=9091
ANALYSIS_REPORT=/home/alex/io-flow-analyzer/report-webgoat.xml
INSTRUMENTED_CLASS_PATH=/home/alex/instrumented/
ENFORCEMENT=false
BLACKLIST=/home/alex/uc4java/src/test/resources/blacklist.list
WHITELIST=/home/alex/uc4java/src/test/resources/whitelist.list
INSTRUMENTATION=true
STATISTICS=/home/alex/statistic-test.txt
TIMER_T1=true
TIMER_T2=true
TIMER_T3=true
TIMER_T4=true
TIMER_T5=true
NETCOM=true
UC_PROPERTIES=
PDP_ASYNCOM=true
UC4WIN_AUTOSTART=