WHITELIST=/Users/cataldocalo/git/pdp/Gui/UcWebManager/src/main/webapp/apps/d41d8cd98f00b204e9800998ecf8427e/instrumentations/20161114111246/whitelist.list
PMP_PORT=40012
ANALYSIS_REPORT=/Users/cataldocalo/git/pdp/Gui/UcWebManager/src/main/webapp/apps/d41d8cd98f00b204e9800998ecf8427e/joana-output/20161114111246/report.xml
PDP_ASYNCOM=false
PDP_PORT=21003
UC_PROPERTIES=
LOGCHOPNODES=true
PMP_HOST=localhost
PDP_HOST=localhost
INSTRUMENTED_CLASS_PATH=
UC4WIN_AUTOSTART=
STATISTICS=/Users/cataldocalo/git/pdp/Gui/UcWebManager/src/main/webapp/apps/d41d8cd98f00b204e9800998ecf8427e/joana-output/20161114111246/statistics.file
TIMER_T5=false
ENFORCEMENT=false
TIMER_T4=false
TIMER_T3=false
UCWEBMGMURL=http\://localhost\:8080/rest
TIMER_T2=false
IFT=true
TIMER_T1=false
TIMERMETHODS={"methods"\:[]}
APPID=d41d8cd98f00b204e9800998ecf8427e
PIP_PORT=21002
NETCOM=true
INSTRUMENTATION=true
MYPEP_PORT=9091
PIP_HOST=localhost
BLACKLIST=/Users/cataldocalo/git/pdp/Gui/UcWebManager/src/main/webapp/apps/d41d8cd98f00b204e9800998ecf8427e/instrumentations/20161114111246/blacklist.list
MYPEP_HOST=localhost