PIP_HOST=localhost
PIP_PORT=40011
PDP_HOST=localhost
PDP_PORT=9090
PMP_HOST=localhost
PMP_PORT=40012
MYPEP_HOST=localhost
MYPEP_PORT=9091
ANALYSIS_REPORT=/home/jpep/apache-tomcat-8.0.9/uc-reports/report-jzip-obj.xml
INSTRUMENTED_CLASS_PATH=/home/jpep/instrumented/
ENFORCEMENT=false
BLACKLIST=/home/jpep/apache-tomcat-8.0.9/uc-reports/blacklist.list
WHITELIST=/home/jpep/apache-tomcat-8.0.9/uc-reports/whitelist.list
INSTRUMENTATION=true
STATISTICS=/home/jpep/statistic-jzip.txt
TIMER_T1=true
TIMER_T2=true
TIMER_T3=true
TIMER_T4=true
TIMER_T5=true
NETCOM=true
UC_PROPERTIES=
PDP_ASYNCOM=false
UC4WIN_AUTOSTART=
TIMERMETHODS={"methods": [{"superClassName": "(.*)Servlet(.*)","argNum": "2","methodName": "doGet"},{"superClassName": "(.*)Servlet(.*)","argNum": "2","methodName": "doPost"},{"className": "(.*)JZip(.*)","methodName": "start"},{"className": "(.*)Action(.*)","methodName": "execute"},{"className": "(.*)CommandLineParser(.*)","methodName": "parse"}]}