PIP_HOST=localhost
PIP_PORT=9090
PDP_HOST=localhost
PDP_PORT=9090
MYPEP_HOST=localhost
MYPEP_PORT=9090
ANALYSIS_REPORT=/home/alex/git_repos/uc4java/java-pep/src/test/resources/report_smarthome.xml
INSTREMENTED_CLASS_PATH=/home/alex/instrumented/
ENFORCEMENT=
BLACKLIST=/home/alex/git_repos/uc4java/java-pep/src/test/resources/blacklist.list
